*{
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
/*header*/
header.layout{
  width: 100%;
  height: 48px;
  background: #fdf0f0;
  position: relative;
}
header.layout .h-tu{
  width: 390px;
  height: 100%;
  /*border:1px solid salmon;*/
  position: absolute;
}
@media screen and (min-width: 1200px){
  header.layout .h-tu{
    right:445px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
  header.layout .h-tu{
    right:18%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1000px){
  header.layout .h-tu{
    right:0%;
  }
}
@media screen and (max-width: 960px){
  header.layout .h-tu{
    display: none;
  }
}
header.layout a{
  display: inline-block;
  text-align: center;
  width: 50px;
  /*border:1px solid red;*/
  text-decoration: none;
  margin-right:25px;
  color:rgba(0,0,0,0.7);
  font-size:13px;
}
header.layout .h-tu div{
  display: inline-block;
  width: 36px;
  height: 29px;
  /*border:1px solid lime;*/
  margin-bottom:-5px;
  background: url("../images/layout/icon00.png") no-repeat -10px 0;
}
header.layout .h-tu div.h-weixin{
  background-position: -88px 0;
}
header.layout .h-tu div.h-qq{
  background-position: -47px 0;
}
header.layout .h-tu span.h-tel{
  display: inline-block;
  width: 148px;
  /*border:1px solid lime;*/
  height: 48px;
  line-height: 48px;
  position: absolute;
  font-size:18px;
}
/*导航栏nav*/
nav.layout#layout{
    width: 100%;
    height: 198px;
}
.nav.layout#layout{
    width: 100%;
    height: 100%;
}
nav.layout#layout .nav div.tata-logo{
    width: 244px;
    height: 94px;
    margin:10px auto;
}
nav.layout#layout .nav .navlist{
    width: 1080px;
    height:28px;
    margin:10px auto;
}
nav.layout#layout .nav .navlist ul{
    width: 100%;
    height: 100%;
    list-style: none;
}
nav.layout#layout .nav .navlist ul li{
    text-align: center;
    float: left;
    width: 120px;
    height: 100%;
    /*background:yellow;*/
    line-height: 28px;
}
nav.layout#layout .nav .navlist ul li a,nav .nav .navlist ul li p{
    text-decoration: none;
    color:rgba(0,0,0,0.5);
    font-size:16px;
    display: block;
    width: 112px;
    height: 100%;
    background: #fff;
}
nav.layout#layout .nav .navlist ul li>div{
    width: 100%;
    height: 120px;
    position: relative;
    background: #fff;
    display: none;
}
nav.layout#layout .nav .navlist ul li>div>div{
    height: 46px;
    line-height:46px;
    position: relative;
    z-index: 999;
}
nav.layout#layout .nav .bg{
    width: 100%;
    height: 60px;
    background: #f1d9d9;

}
nav.layout#layout .nav .navlist ul li a:hover{
    color:#fdc3c3;
}
/*页脚footer*/
footer.layout .f-top{
  width: 100%;
  height: 440px;
  background: #fbfbfb;
  padding:40px 0;
}
footer.layout .f-top .f-contant{
  border:1px solid #dbdbdb;
  width: 90%;
  margin:0px 4%;
  height: 360px;
  border-sizing:border-box;
  position: relative;
}
footer.layout .f-top .f-contant>div.b{
    width:40px;
    height:40px;
    position: absolute;
    background: url("../images/layout/Section5_01.gif") no-repeat;
    z-index: 9;
}
footer.layout .f-top .f-contant>div.b1{
    left:-2px;
    top:-2px;
}
footer.layout .f-top .f-contant>div.b2{
    background: url("../images/layout/Section5_02.gif") no-repeat;
    right:-2px;
    top:-2px;
}
footer.layout .f-top .f-contant>div.b3{
    background: url("../images/layout/Section5_03.gif") no-repeat;
    top: 320px;
    left:-2px;
}
footer.layout .f-top .f-contant>div.b4{
    background: url("../images/layout/Section5_04.gif") no-repeat;
    top:320px;
    right:-2px;
}
footer.layout .f-top .f-contant .gotop{
    display: table;
    margin:0 auto;
    position: relative;
    top:-12px;
}
footer.layout .f-top .f-contant .f-tel{
   top:0px;
}
footer.layout .f-top .f-content{
    width: 1000px;
    margin:20px auto;
    height: 166px;
}
footer.layout .f-top .f-content .left,footer .f-top .f-content .right{
    float: left;
}
footer.layout .f-top .f-content .right{
    width: 560px;
    display: table;
    float:right;
    position: relative;
}
footer.layout .f-top .f-content .right p.tip{
    height: 22px;
    line-height: 22px;
    position: relative;
    margin-bottom: 18px;
}
footer.layout .f-top .f-content .right p.tip::before{
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    background: url("../images/layout/warning.png");
    position: relative;
    top:4px;
}
footer.layout .f-top .f-content .right from{
    position: relative;
    display: block;
    width: 560px;
    height: 80px;
}
footer.layout .f-top .f-content .right from p{
    font-size:22px;
}
footer.layout .f-top .f-content .right from input{
    width: 240px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    border:1px solid #dbdbdb;
    padding-left:4px;
    font-size:14px;
}
footer.layout .f-top .f-content .right from button{
    position: absolute;
    right: 0px;
    top:50%;
    width: 173px;
    transform: translateY(-50%);
    left:340px;
    height:45px;
    border:none;
    outline: none;
    background: url("../images/layout/reg_now.png");
}
/*footer f-bottom 栅格化布局*/
footer.layout .f-bottom{
  width: 100%;
  height: 540px;
  background: #fdf0f0;
  padding:48px 0;
}
footer.layout .f-bottom .container{
  width: 960px;
  height: 327px;
  /*background: lime;*/
}
footer.layout .f-bottom .container .row{
  height: 100%;
}
footer.layout .f-bottom .container .row>div{
  height: 100%;
}
footer.layout .f-bottom .container .row .left{
    /*background: orange;*/
    position: relative;
}
footer.layout .f-bottom .container .row .left img.title,footer .f-bottom .container .row .right img.title{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin:5px 0px 10px;
}
footer.layout .f-bottom .container .row .left p.tel{
    font-size:30px;
    position: relative;
}
footer.layout .f-bottom .container .row .left p.tel::before,footer .f-bottom .container .row .left div.dizhi p:first-child::before{
    content: '';
    display: inline-block;
    width: 31px;
    height: 44px;
    background: url("../images/layout/script_new_index01.png") -1px -1px;
    position: relative;
    top:12px;
}
footer.layout .f-bottom .container .row .left div.dizhi p:first-child::before{
     background: url("../images/layout/script_new_index01.png") -43px -1px;
 }
footer.layout .f-bottom .container .row .left div.dizhi p{
    font-size:17px;
   line-height: 30px;
}
footer.layout .f-bottom .container .row .left div.icon{
    width: 304px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:30px;
}
footer.layout .f-bottom .container .row .left div.icon a{
    margin:20px 20px;
}
footer.layout .f-bottom .fridendlink a{
    color:rgba(0,0,0,0.6);
}
footer.layout .f-bottom .fridendlink a:hover{
    text-decoration: none;
    color:rgb(228,207,207);
}
