<link rel="stylesheet" href="stylesheet/index.css">
<section>
    <!--第一部分轮播-->
    <div class="cont">
        <ul>
            <li class="act"><img src="/images/index/luun_1.jpg"></li>
            <li><img src="/images/index/luun_2.jpg"></li>
            <li><img src="/images/index/luun_3.jpg"></li>
            <li><img src="/images/index/luun_4.jpg"></li>
            <li><img src="/images/index/luun_5.jpg"></li>
        </ul>
        <a href="javascript:;" class="bt bt-left"><</a>
        <a href="javascript:;" class="bt bt-right">></a>
    </div>
    <!--第二部分最新作品-->
    <div class="three-lunbo">
        <div class="sectionTitle">
            <img src="/images/index/Section0_02.gif" alt="">
        </div>
        <div style="position:relative;width:1100px;margin:0 auto;">
            <div id="botton-scroll">
                <div class="featureul">
                    <ul>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623094555021727771_300_360.jpg" alt="风吹起的裙角" />
                                <!--<p>风吹起的裙角</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623095640896286217_300_360.jpg" alt="起风了" />
                                <!--<p>起风了</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623015449958501626_300_360.jpg" alt="时光恋人" />
                                <!--<p>时光恋人</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623014700693167231_300_360.jpg" alt="午后蜜语" />
                                <!--<p>午后蜜语</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170708034506286760357_300_360.jpg" alt="黑色翅膀" />
                                <!--<p>黑色翅膀</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170708035140583634128_300_360.jpg" alt="夏至未至" />
                                <!--<p>夏至未至</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170516021548178824635_300_360.jpg" alt="森之迷藏Ⅱ" />
                                <!--<p>森之迷藏Ⅱ</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623020515443268837_300_360.jpg" alt="午后蜜语2" />
                                <!--<p>午后蜜语2</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623021024365816020_300_360.jpg" alt="午后蜜语3" />
                                <!--<p>午后蜜语3</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>

                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623094555021727771_300_360.jpg" alt="风吹起的裙角" />
                                <!--<p>风吹起的裙角</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623095640896286217_300_360.jpg" alt="起风了" />
                                <!--<p>起风了</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="http://www.lytata.com/Upload/uploadify/D_Global_Index_Img/20170623015449958501626_300_360.jpg" alt="时光恋人" />
                                <!--<p>时光恋人</p>-->
                                <!--<a href="#" target="_blank" class="more">点击进入</a>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="arrow prev" href="javascript:;"><img src="/images/index/left.png" alt=""></a>
            <a class="arrow next" href="javascript:;"><img src="/images/index/right.png" alt=""></a>
        </div>
    </div>
    <!--第三部分粉色大长条-->
    <div class="pink">
        <img src="http://www.lytata.com/Upload/uploadify/D_SystemConfig_Index_Img/20151129091114397335335.jpg" alt="">
    </div>
    <!--第四部分客片展示-->
    <div class="showpicture">
        <div class="sectionTitle">
            <img src="/images/index/Section1_03.gif" alt="">
        </div>
        <div class="showpicture-body">
            <ul>
                <li>
                    <a href="./works">
                        <div class="suofang">
                            <img src="http://www.lytata.com/Upload/uploadify/D_SystemConfig_Hs_Img/20160214085418505131672_470_300.jpg" alt="">
                        </div>
                        <img src="/images/index/Section1_01.gif" alt="" class="logo">
                        <span>点击进入</span>
                    </a>
                </li>
                <li>
                    <a href="./works">
                        <div class="suofang">
                            <img src="http://www.lytata.com/Upload/uploadify/D_SystemConfig_Xz_Img/20160214084928255168713_470_300.jpg" alt="">
                        </div>
                        <img src="/images/index/Section1_02.gif" alt="" class="logo">
                        <span>点击进入</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--第五部分大轮播-->
    <div class="second-lunbo">
        <div class="cont">
            <ul>
                <li class="act"><img src="http://www.lytata.com/Upload/uploadify/D_SlideShow_Slide_Img/20161019032951078307534.jpg"></li>
                <li><img src="http://www.lytata.com/Upload/uploadify/D_SlideShow_Slide_Img/20161014043750140306708.jpg"></li>
                <li><img src="http://www.lytata.com/Upload/uploadify/D_SlideShow_Slide_Img/20161014044737906453204.jpg"></li>
                <li><img src="http://www.lytata.com/Upload/uploadify/D_SlideShow_Slide_Img/20160203075310552305203.jpg"></li>
                <li><img src="http://www.lytata.com/Upload/uploadify/D_SlideShow_Slide_Img/20160804081434828386247.jpg"></li>
            </ul>
            <a href="javascript:;" class="bt bt-left"><</a>
            <a href="javascript:;" class="bt bt-right">></a>
        </div>
    </div>
    <!--第六部分环球拍-->
    <div class="global">
        <div class="sectionTitle">
            <img src="/images/index/Section2.gif" alt="">
        </div>
        <div class="global-body">
            <ul class="xuanzhuan">
                    <li class="col-xs-4 col-sm-4 col-md-4">
                        <div>
                            <img src="http://www.lytata.com/Upload/uploadify/D_Global_Globel_Img/20161012060759281448274_300_300.jpg">
                        </div>
                        <p><span>大理管宵</span></p>
                    </li>
                    <li class="col-xs-4 col-sm-4 col-md-4">
                        <div>
                            <img src="http://www.lytata.com/Upload/uploadify/D_Global_Globel_Img/20161013100610125143058_300_300.jpg">
                        </div>
                        <p><span>大理婉玉</span></p>
                    </li>
                    <li class="col-xs-4 col-sm-4 col-md-4">
                        <div>
                            <img src="http://www.lytata.com/Upload/uploadify/D_Global_Globel_Img/20161013093915078537420_300_300.jpg">
                        </div>
                        <p><span>大理婉玉</span></p>
                    </li>
            </ul>
        </div>
    </div>
    <!--第七部分互动活动-->
    <div class="interact">
        <div class="sectionTitle">
            <img src="/images/index/interact-title.png" alt="">
        </div>
        <div class="interact-body">
            <img src="/images/index/foot.jpg" alt="">
            <div class='num1'></div>
            <div class='num2'></div>
            <div class='num3'></div>
        </div>
    </div>
</section>
<script>
    hh();
    window.onresize = hh;
    function hh(){
        var w = document.documentElement.clientWidth;
        var rate = 1900 / 550;
        var h = w / rate;
        $('.cont>ul').css('height',h);
    }
    var idx=0;
    var lock = true;
    $('.bt-right').click(function(){
        animate();
    });
    $('.bt-left').click(function(){
        if (!lock){
            return;
        }
        idx--;
        if (idx<0){
            idx = 0;
        }
        $('.cont ul li').eq(idx).fadeIn(500).siblings().fadeOut(500);
        lock = false;
        setTimeout(function(){
            lock = true;
        },1500)
    });
    var timer = setInterval(animate,3000);
    function animate(){
        if (!lock){
            return;
        }
        idx++;
        if (idx>4){
            idx = 0;
        }
        $('.cont ul li').eq(idx).fadeIn(500).siblings().fadeOut(500);
        lock = false;
        setTimeout(function(){
            lock = true;
        },1500)
    }


    var pic = 0;
    function autoPlay(){
        pic --;
        console.log(pic);
        $('.featureul').animate({'left':960*pic},600,function(){
            if(pic<-2){
                pic = 0;
                $('.featureul').css({'left':0});
            }
        })
    }
    var time = setInterval(autoPlay,3000);
    $('.three-lunbo').mouseenter(function(){
        clearInterval(time);
    });
    $('.three-lunbo').mouseleave(function(){
        time = setInterval(autoPlay,3000)
    });
    $('.prev').click(function(){
        autoPlay();
    })
    $('.next').click(function(){
        if (pic == 0){
            pic = -3;
        }
        pic ++;
       // console.log(pic);
        $('.featureul').animate({'left':960*pic},600,function(){
            if(pic > 0){
                pic = -2;
                $('.featureul').css({'left':1920});
            }
        })
    });


    $('.xuanzhuan li').each(function(){
        $(this).mouseenter(function(){
            $('.xuanzhuan li div').eq($(this).index()).velocity({'rotateZ':'-15deg'},500);
        });
        $(this).mouseleave(function(){
            $('.xuanzhuan li div').eq($(this).index()).velocity({'rotateZ':'0deg'},500);
        });
    })

    $('.num1').click(function(){
        window.location.href = "https://kf1.gzsptc.com/";
    })
    $('.num2').click(function(){
        window.location.href = "http://www.lytata.com/Activity/Detail/17";
    })
    $('.num3').click(function(){
        window.location.href = "http://www.lytata.com/PingLun/DZHP";
    })
</script>